html,
body {
  position: relative;
  display: block;
  width: 100vw;
  font-size: 12px;
  font-family: 'default';
  color: $co-txt-default;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

.tit-main {
  margin-bottom: 6rem;
  
  .desc {
    display: block;
    color: $co-txt-main;
    font-size: 2.4rem;
    font-family: 'default-B';
  }

  h2 {
    display: inline-block;
    position: relative;
    padding-bottom: 1rem;
    color: $co-txt-main;
    font-family: 'default';
    font-size: 2rem;
    line-height: 2rem;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: calc(50% - .5rem);
      width: 1rem;
      height: 0.3rem;
      background: $co-txt-main;
    }
  }
}

.tit-info {
  font-size: 6.5rem;
  font-family: 'default-B';
}

.area-conts {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 12rem 0 8rem;
  
  ul {
    display: flex;
    justify-content: space-between;
    position: relative;

    li {
      position: relative;
      text-align: center;
      box-sizing: border-box;

      &::before {
        content : "";
        display: block;
        position: absolute;
        background: url("../img/img_list.png") no-repeat;
        background-size: auto 410px;
      }

      h3 {
        position: relative;
        color : $co-txt-black;
        font-size: 1.6rem;
        font-family: 'default-B';
        font-weight: normal;
        z-index: 5;
      }

      p {
        position: relative;
        color: $co-txt-light;
        font-size: 1.3rem;
        line-height: 1.6rem;
        letter-spacing: -0.05em;
        z-index: 5;
      }
    }
  }
}

.area-info {
  p,
  address {
    font-size: 1.5rem;
    line-height : 2.5rem;
    font-style: normal;

    + p {
      margin-top: 2rem;
    }

    strong {
      color : $co-txt-black;
      font-weight: normal;
      font-family: 'default-B';
    }
  }
}

header.gnb {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 6rem;
  background: rgba($black, .8);
  z-index: 100;

  .area-conts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 6rem;
    padding: 0;

    h1 {
      img {
        display: block;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 40px;
    }

    .btn-callnav {
      display: none;
    }

    .selectLan {
      position: relative;

      button {
        padding: 6px 12px 6px 32px;
        border: 1px solid $co-border-white;
        border-radius: 20px;
        background: transparent url(../img/ico-lang.png) no-repeat;
        background-position: 6px center;
        background-size: 20px;
        color: $co-txt-white;
      }

      .toggleWrap {
        display: none;

        &.active {
          display: block;
          position: absolute;
          top: 30px;
          left: 0;
          width: 100%;
          padding: 20px;
          background: $white;
          box-sizing: border-box;
          box-shadow: 0 4px 6px rgba($black, .3);
        }

        a {
          display: block;
          padding: 5px 0;
          color: $co-main;
        }
      }
    }

    nav {
      display: block;
      height: 100%;

      a {
        display: inline-block;
        position: relative;
        height: 100%;
        padding: 20px;
        color: $co-txt-white;
        font-size: 2rem;
        line-height: calc(6rem - 40px);
        box-sizing: border-box;

        + a {
          margin: 0 0 0 3rem;
        }

        &:hover,
        &:focus {
          color : $co-sub01;
        }

        &.active {
          color : $co-txt-main;

          &::before {
            content: "";
            display: block;
            position: absolute;
            right: 20px;
            bottom: 0;
            left: 20px;
            height: 3px;
            background: $co-sub01;
          }
        }
      }
    }
  }
}

.area-mainvisual {
  height: 100vh;
  // background: url("../img/bg-mainv.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;

  .area-conts {
    padding: 18rem 0 0;
    color: $co-txt-white;
    text-align: left;
  }

  .swiper-pagination-top {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 100%;
    max-width: 1100px;
    text-align: left;
    z-index: 10;
    transform: translateX(-50%);

    .swiper-pagination-bullet {
      &.swiper-pagination-bullet-active {
        width: 20px;
        border-radius: 10px;
      }
    }
  }

  .swiper-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: left;

    .conts {
      display: block;
      width: 100%;
      max-width: 1100px;
      text-align: left;
      margin: 0 auto;
      padding: 30px;

      p{
        
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }
  }

  .btn-go {
    display: inline-block;
    position: relative;
    color : $co-txt-main;
    font-weight: bold;
    margin-top: 40px;
    padding: 4px 20px 4px 4px;
    text-align: left;

    &:hover{
      text-decoration: underline;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      height: 9px;
      background: $co-main;
      right: 0;
    }

    &::before {
      top: 12px;
      transform: rotate(45deg);
    }

    &::after {
      top: 6px;
      transform: rotate(-45deg);
    }
  }
}

.area-intro {
  background: url(../img/img_index_section1.jpg) no-repeat;
  background-position: left bottom;

  .area-conts {
    width: 100vw;
    height: 100vh;

    .area-info {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 50vw;
      text-align: center;
    }
  }
}

.area-company {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(../img/bg_index_section2.jpg) no-repeat;
  background-position: center;
  background-size: cover;

  .area-info {
    display: block;
    position: relative;
    width: 800px;
    height: 800px;
    padding: 240px 0 0;
    background: url(../img/round.svg) no-repeat center;
    background-size: contain;
    box-sizing: border-box;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -10%;
      left: -10%;
      width: 120%;
      height: 120%;
      animation: roundbg 15s infinite;
    }

    &::before {
      background: url(../img/round01.svg) no-repeat center;
      background-size: 100%;
      animation-delay: 5s;
    }

    &::after {
      background: url(../img/round02.svg) no-repeat center;
      background-size: 100%;
    }

    @keyframes roundbg {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
      
    }

    img {
      display: block;
      max-width: 100%;
      margin: 1rem auto 4rem;
    }
  }
}

.area-information {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tit-main {
    text-align: left;
  }

  .list-info {
    text-align: left;

    dt {
      margin: 2rem 0 0 0;
      color : $co-txt-main;
    }

    dd {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }
  
  iframe {
    display: block;
    width: 500px;
    height: 500px;
  }
}

.area-gallery {
  text-align: center;
}

.area-qst {
  text-align: center;

  .list-qst {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: qst;

    li {
      list-style: none;
      display: block;
      position: relative;
      width: 33%;
      margin-top: 70px;

      &::before {
        content:"";
        display: inline-block;
        width: 240px;
        height: 240px;
        background: url(../img/img-contact.png) no-repeat;
        background-size: auto 240px;
      }

      &.img01 {
        &::before {
          background-position: 0 0;
        }
      }

      &.img02 {
        &::before {
          background-position: -240px 0;
        }
      }

      &.img03 {
        &::before {
          background-position: -480px 0;
        }
      }

      &.img04 {
        &::before {
          background-position: -720px 0;
        }
      }

      &.img05 {
        &::before {
          background-position: -960px 0;
        }
      }

      &.img06 {
        &::before {
          background-position: -1200px 0;
        }
      }

      strong {
        display: block;
        margin: .6rem 0;
        color : $co-txt-main;
        font-size: 1.4rem;

        &::before {
          content: counter(qst) ". ";
          counter-increment: qst;
        }
      }
    }
  }
}

.area-contact {
  background: $co-bg-sub url("../img/img_line.jpg") no-repeat bottom center;
  text-align: center;

  .wrap-form {
    max-width: 800px;
    margin: 7rem auto 0;
    padding: 3rem;
    border: 1px solid $co-border-light;
    background: $co-bg-default;
    box-sizing: border-box;

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    .wrap-input {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 1.4rem;
      float: left;
      text-align: left;

      &.half {
        width: calc(50% - 1rem);

        &:nth-of-type(2n) {
          margin-left: 2rem;
        }
      }

      label {
        color: $co-txt-main;
        font-size: 1.2rem;
        font-family: "default-B";
      }
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
      appearance: none;
      display: block;
      width: 100%;
      margin: .3rem 0 0;
      border: 1px solid $co-border-default;
      border-radius: 0;
      background: $co-bg-default;
      color : $co-txt-black;
      font-size: 1.3rem;
      box-sizing: border-box;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
      height: 3.5rem;
      padding: 0 1rem;
    }

    textarea {
      height: 16rem;
      padding: 1rem;
      resize: none;
    }

    input[type="submit"] {
      appearance: none;
      display: block;
      width: 100%;
      max-width: 30rem;
      height: 5rem;
      margin: 0 auto;
      color: $co-txt-white;
      font-size: 1.6rem;
      font-family: "default-B";
      cursor: pointer;

      @include btnColor($co-bg-main);
    }
  }
}